{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clear:after {
    content: " ";
    display: table;
    clear: both;
}

.clear {
    zoom: 1;
}

body {
    background-color: #f9f9f9;
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    color: #656363;
}

a {
    text-decoration: none;
    color: #656363;
    -webkit-transition: all 0.5s ;
    -o-transition: all 0.5s ;
    transition: all 0.5s ;
}

.container {
    width: 70%;
    margin: 0 auto;
    padding: 50px 45px 60px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 5px #00000F;
    -moz-box-shadow: 0 0 5px #00000F;
    box-shadow: 0 0 5px #00000F;
}

header nav {
    margin: 40px 0;
    background: #595959;
    background: -webkit-linear-gradient #595959, #454444;
    background: -o-linear-gradient #595959, #454444;
    background: linear-gradient #595959, #454444;
    font-size: 16px;
}

nav li {
    float: left;
}

nav a {
    display: block;
    padding: 12px 30px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    position: relative;
}

nav li:first-child a {
    padding: 12px 50px 12px 35px;
}

nav li:nth-child(3) a {
    padding: 12px 50px;
}

header nav a:hover {
    border-left: 1px solid #838383;
    border-right: 1px solid #838383;
    background: #2F2F2F;
    background: -webkit-linear-gradient #595959, #2F2F2F;
    background: -o-linear-gradient #595959, #2F2F2F;
    background: linear-gradient #595959, #2F2F2F;
}

header a {
    color: #fff;
}

.content-container.sidebar {
    width: 30%;
    padding-right: 46px;
    float: left;
    
}

.content-container ul {
    border: 1px solid #f0f0f0;
}

.content-container a {
    display: block;
    padding: 15px 20px;
    border-top: 1px solid #f0f0f0;
}

.content-container li:first-child a {
    border-top: none;
}

.content-container a:hover {
    padding-left: 30px;
    background: #f9f9f9;
    color: #000;
}

.content-container .main {
    width: 70%;
    float: left;
}

.main img {
    border: 1px solid #f0f0f0;
    width: 100%;
    padding: 50px;
    margin-bottom: 40px;
}

.main p {
    line-height: 1.5;
    margin-left: 25px;
}

footer {
    clear: both;
    margin-top: 90px;
}

footer nav {
    background: #e1e1e1;
}

footer a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.copyright {
    float: right;
}

.copyright li {
    padding: 15px 30px;
    line-height: 30px;
}